.conteiner {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}

/* Header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 139px;
    padding-left: 139px;
    align-items: center;
    height: 96px;
}

ul {
    display: flex;
    gap: 71px;
    color: #8172D5;
    font-size: 13px;
}

.search {
    width: 227px;
    height: 37px;
    background-color: #F2F5F8;
    display: flex;
    border-radius: 10px;
    flex-direction: row-reverse;
}

.fa-magnifying-glass {
    background-color: #8172D5;
    width: 37px;
    height: 37px;
    color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
}

/* Header */



/* section */
.section_div {
    width: 100%;
    background-color: #F2F5F8
}

section {
    width: 80%;
    margin: 0 auto;
    height: 1017px;
    padding-top: 59px;
}


h1 {
    margin-bottom: 29px;
    font-size: 18px;
    color: #133B3A;
}

.cards {
    width: 100%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 24%;
    height: 368px;
    padding: 18px 18px 21px;
    text-align: left;
    border-radius: 15px;
    background-color: #ffffff;
}

.card_img {
    width: 100%;
    height: 38%;
}

.card_text {
    margin-top: 76px;
    font-size: 20px;
    color: #133B3A;
}

/* section */




/* footer */
footer {
    width: 100%;
    background-color: #758BFD;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 25px 141px 26px 139px;
    color: white;
}

footer h2 {
    display: flex;
    margin-right: 139px;
    font-weight: bold;
}

footer ul {
    display: flex;
    color: white;
    margin-left: 141px;
    gap: 117px;
}
/* footer */
